.title {
  font-size: 66pt;
  font-weight: 500;
}
.list-item {
  font-size: 20pt;
  font-weight: 400;

  margin-left: 1em;
}

.clickable{
  cursor: pointer;
}

body {
  background-color: #282c34;
}

h1, .todo-text, .close-create-todo-btn, .create-todo-input-box, .add-font, .what-to-do-text {
  color: #eee;
}

.dark-and-strike-through {
  text-decoration:line-through;
  opacity: 0.4;
}